/* ExcelUploader.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.excel-uploader-container {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url('./123.jpg');
    background-size: 100% 100%;
    background-position: center; /* Ensure the background image is centered */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.excel-uploader-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

.excel-uploader-form .form-group {
    margin-bottom: 20px;
}

.excel-uploader-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.excel-uploader-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-bottom: 20px;
}

.result-item {
    margin-bottom: 20px;
}

.result-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.result-item input[type="text"] {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-container {
    margin-bottom: 20px;
}

.dropdown-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button-container {
    text-align: center;
}

.submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}
